<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Calculate cost</title>
  </head>
  <body>
    <h1>Enter in your dimensions and weight</h1>

    <form action="/cost" method="post">

      <label for="length">length</label>
      <input id="length" name="length" type="number">

      <label for="width">width</label>
      <input id="width" name="width" type="number">

      <label for="height">height</label>
      <input id="height" name="height" type="number">

      <label for="weight">weight</label>
      <input id="weight" name="weight" type="number">

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
