<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Parcel</title>
</head>
<body>
  <div class="container">
      <h1 class="jumbotron">Welcome to the Parcel Tracker!</h1>
      <a href="/form">Add a new parcel</a>
  </div>
</body>
</html>
